{% load staticfiles %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block link %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/_media.css' %}">
        <link rel="stylesheet" href="{% static 'libs/bootstrap4/css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/bootstrap4/css/bootstrap-reboot.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/bootstrap4/css/bootstrap.min.css' %}">
    {% endblock link %}
    <title>{{ title }}</title>
</head>

<body>
{% block modal %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Вход</h5>
                    {#                    <a type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                    {#                        <span aria-hidden="true">&times;</span>#}
                    {#                    </a>#}
                </div>
                <form action="" method="GET" id="login_form">{% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group form-group-sm">
                            <div class="form-group">
                                <label for="log">Логин</label>
                                <input type="text" class="form-control" name="log" id="username" aria-describedby="login" placeholder="Логин">
                                {#                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
                            </div>
                            <div class="form-group">
                                <label for="log">Пароль</label>
                                <input type="password" name="pass" class="form-control" id="password" placeholder="Пароль">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit"  class="btn btn-primary" value="Войти" id="logs">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock modal %}
{% block nav %}
    {% include 'nav-bar.html' %}
{% endblock %}
{% block breadcrumbs %}
    <br>
{% endblock breadcrumbs %}

{% block body %}

{% endblock %}

{% block jslink %}
    <script src="{% static 'libs/bootstrap4/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/jquery/jquery-1.11.2.min.js' %}"></script>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
{% endblock jslink %}
<script type="text/javascript">
$(function() {
    $('#myCarousel').carousel({interval: 20});

    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    });
});
$('#logs').click(function () {
    alert('yes');
    $.ajax({
        type: "GET",
        url: "login", //Change
        data: {
            'username': $('#username').val()
        },
        dataType: 'text',
        cache: false,
        success: function () {
            alert('ok')
        }
    })

});
</script>
</body>
</html>
