{% extends "base.html" %}
{% load static %}
{% block body %}
    <br>
    <div class="container">
    <div class="row photos-wrap justify-content-center">
        <div class="col-xs-12 col-md-12 col-lg-12 bg-light">
            <div class="row">
                <div class=" col-md-5 col-sm-12 col-xs-12 col-lg-5 photo-conteiner">
                    <div id="carousel{{ instance.name }}" class="carousel slide" data-ride="carousel">
{#                        <ol class="carousel-indicators">#}
{#                            {% if instance.image_1 %}<li data-target="#carousel{{ instance.name }}" data-slide-to="0" class="active"></li>{% endif %}#}
{#                            {% if instance.image_2 %}<li data-target="#carousel{{ instance.name }}" data-slide-to="1"></li>{% endif %}#}
{#                            {% if instance.image_3 %}<li data-target="#carousel{{ instance.name }}" data-slide-to="2"></li>{% endif %}#}
{#                            {% if instance.image_4 %}<li data-target="#carousel{{ instance.name }}" data-slide-to="3"></li>{% endif %}#}
{#                            {% if instance.image_5 %}<li data-target="#carousel{{ instance.name }}" data-slide-to="4"></li>{% endif %}#}
{#                        </ol>#}
                        <div class="carousel-inner">
                            {% if instance.image_1 %}<div class="carousel-item active"><img class="d-block w-100" src="{{ MEDIA_URL }}{{ instance.image_1.url }}" alt="First slide"></div>{% endif %}
                            {% if instance.image_2 %}<div class="carousel-item"><img class="d-block w-100" src="{{ MEDIA_URL }}{{ instance.image_2.url }}" alt="Second slide"></div>{% endif %}
                            {% if instance.image_3 %}<div class="carousel-item"><img class="d-block w-100" src="{{ MEDIA_URL }}{{ instance.image_3.url }}" alt="Third slide"></div>{% endif %}
                            {% if instance.image_4 %}<div class="carousel-item"><img class="d-block w-100" src="{{ MEDIA_URL }}{{ instance.image_4.url }}" alt="forth slide"></div>{% endif %}
                            {% if instance.image_5 %}<div class="carousel-item"><img class="d-block w-100" src="{{ MEDIA_URL }}{{ instance.image_5.url }}" alt="fifth slide"></div>{% endif %}
                        </div>
                        <a class="carousel-control-prev" href="#carousel{{ instance.name }}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel{{ instance.name }}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <div class="carousel-indicator">
                            {% if instance.image_1 %}<li data-target="#carousel{{ instance.name }}" data-slide-to="1" class="active"> <img src="{{ MEDIA_URL }}{{ instance.image_1.url }}"> </li>{% endif %}
                            {% if instance.image_2 %}<li data-target="#carousel{{ instance.name }}" data-slide-to="2"><img src="{{ MEDIA_URL }}{{ instance.image_2.url }}"></li>{% endif %}
                            {% if instance.image_3 %}<li data-target="#carousel{{ instance.name }}" data-slide-to="3"><img src="{{ MEDIA_URL }}{{ instance.image_3.url }}"></li>{% endif %}
                            {% if instance.image_4 %}<li data-target="#carousel{{ instance.name }}" data-slide-to="4"><img src="{{ MEDIA_URL }}{{ instance.image_4.url }}"></li>{% endif %}
                            {% if instance.image_5 %}<li data-target="#carousel{{ instance.name }}" data-slide-to="5"><img src="{{ MEDIA_URL }}{{ instance.image_5.url }}"></li>{% endif %}
                        </div>
                    </div>

                </div>
                <div class="col-md-7 col-sm-12 col-xs-12 col-lg-7 header">
                    <div class="anketa-header bg-danger text-white p-2">
                        <label class="h1">{{ instance.name }} </label>
                        <label for="" class="phone float-right"><span
                                class="glyphicon glyphicon-phone">{{ instance.phone }}</span></label>
                        <label class="ml-5 h5"> {{ instance.age }} лет</label>
                    </div>
                    <hr>
                    {#                    <hr class="my-1">#}
                    <div class="col">
                        <div class="jumbotron text-dark">
                            <div class="container">
                                <p class="">{{ instance.note }}</p>
                            </div>
                        </div>
                        <table class="col ">
                            <tbody class="">
                            <tr>
                                <th scope="row">Рост:</th>
                                <td>{{ instance.height }}</td>
                                <th>Глаза:</th>
                                <td>{{ instance.eye }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Грудь:</th>
                                <td>{{ instance.boob }}</td>
                                <th>Вес:</th>
                                <td>{{ instance.weight }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Типаж:</th>
                                <td>{{ instance.types }}</td>
                                <th>Анкета:</th>
                                <td>№ {{ instance.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Волосы</th>
                                <td>{{ instance.hair }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="col  price-table mt-5">
                            <thead>
                            <th>Время</th>
                            <th>Выезд</th>
                            <th>Аппартмент</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1-Час</td>
                                <td>{{ serv_instance.outside_1 }}</td>
                                <td>{{ serv_instance.appart_1 }}</td>
                            </tr>
                            <tr>
                                <td scope="row">2-Час</td>
                                <td>{{ serv_instance.outside_1 }}</td>
                                <td>{{ serv_instance.appart_2 }}</td>
                            </tr>
                            <tr>
                                <td scope="row">Ночь</td>
                                <td>{{ serv_instance.outside_nigth }}</td>
                                <td>{{ serv_instance.appart_night }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row bg-light p-3 justify-content-center small">
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
            <div class="panel panel-default comment ">
                <div class="comment-header">
                    <label class="h3 justify-content-between align-items-center">Услуги</label>
                </div>
                <hr>
                {#                {% for serv in service %}#}
            <div class="row">
            {% if serv_instance.main_classic or serv_instance.main_blowJob_w_condom or serv_instance.main_cunni or serv_instance.main_group_sex or serv_instance.main_lesbi_lesbi %}
                <div class="col-sm-3 mb-2">
                    <div class="card">
                        <div class="card-header bg-secondary text-white p-2">Основные услуги</div>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush">
                                {% if serv_instance.main_classic %}<li class="list-group-item p-1">Классический</li>{% endif%}
                                {% if serv_instance.main_blowJob_w_condom %}<li class="list-group-item p-1">Минет с презирвативом</li>{% endif%}
                                {% if serv_instance.main_cunni %}<li class="list-group-item p-1">Кунилингус</li>{% endif%}
                                {% if serv_instance.main_group_sex%}<li class="list-group-item p-1">Группавой секс</li>{% endif%}
                                {% if serv_instance.main_lesbi_lesbi %}<li class="list-group-item p-1">Лезбийский секс</li>{% endif%}
                                {% if serv_instance.mbr %}<li class="list-group-item p-1">Минет без презерватива <label class="text-danger"> + {{ serv_instance.mbr_price }}</label></li>{% endif%}
                                {% if serv_instance.anal_sex %}<li class="list-group-item p-1">Анальный секс <label class="text-danger"> + {{ serv_instance.anal_sex_price }}</label></li>{% endif%}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if serv_instance.dop_end_mouth or serv_instance.dop_end_face or serv_instance.dop_glub_minet or serv_instance.dop_toys or serv_instance.dop_role_game or serv_instance.dop_couple_service or serv_instance.dop_video or serv_instance.dop_company %}
                <div class="col-sm-2 mb-2">
                    <div class="card">
                        <div class="card-header bg-secondary text-white p-2">Допол. услуги</div>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush">
                                {% if serv_instance.dop_end_mouth %}<li class="list-group-item p-1">Кончить в рот</li>{% endif%}
                                {% if serv_instance.dop_end_face %}<li class="list-group-item p-1">Кончить на лицо</li>{% endif%}
                                {% if serv_instance.dop_glub_minet %}<li class="list-group-item p-1">Глубокий минет</li>{% endif%}
                                {% if serv_instance.dop_toys%}<li class="list-group-item p-1">Игрушки</li>{% endif%}
                                {% if serv_instance.dop_role_game %}<li class="list-group-item p-1">Ролевые игры</li>{% endif%}
                                {% if serv_instance.dop_couple_service %}<li class="list-group-item p-1">Услиги супружиским парам</li>{% endif%}
                                {% if serv_instance.dop_video %}<li class="list-group-item p-1">Фото/Видео съемки</li>{% endif%}
                                {% if serv_instance.dop_company %}<li class="list-group-item p-1">Сопровождение</li>{% endif%}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if serv_instance.massage_relax or serv_instance.massage_classic or serv_instance.massage_profi or serv_instance.massage_tiski or serv_instance.massage_prostat or serv_instance.massage_erotic or serv_instance.massage_sakura %}
                <div class="col-sm-2 mb-2">
                    <div class="card">
                        <div class="card-header bg-secondary text-white p-2">Массаж</div>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush">
                                {% if serv_instance.massage_relax %}<li class="list-group-item p-1">Раслобляющий массаж</li>{% endif%}
                                {% if serv_instance.massage_classic %}<li class="list-group-item p-1">Классический массаж</li>{% endif%}
                                {% if serv_instance.massage_profi %}<li class="list-group-item p-1">Проффесиональный массаж</li>{% endif%}
                                {% if serv_instance.massage_tiski%}<li class="list-group-item p-1">Тайский массаж</li>{% endif%}
                                {% if serv_instance.massage_prostat %}<li class="list-group-item p-1">Массаж простаты</li>{% endif%}
                                {% if serv_instance.massage_erotic %}<li class="list-group-item p-1">Эротический массаж</li>{% endif%}
                                {% if serv_instance.massage_sakura %}<li class="list-group-item p-1">Ветка сакуры</li>{% endif%}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if serv_instance.dance_profi or serv_instance.dance_NoProfi or insserv_instanceserv_instanceance.dance_lesbi_show or serv_instance.dance_lisbi  %}
                <div class="col-sm-2 mb-2">
                    <div class="card">
                        <div class="card-header bg-secondary text-white p-2">Стритиз</div>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush">
                                {% if serv_instance.dance_profi %}<li class="list-group-item p-1">Стритиз профф.</li>{% endif%}
                                {% if serv_instance.dance_NoProfi %}<li class="list-group-item p-1">Стриптиз не профи</li>{% endif%}
                                {% if serv_instance.dance_lesbi_show%}<li class="list-group-item p-1">Откровенное лесби-шоу</li>{% endif%}
                                {% if serv_instance.dance_lisbi %}<li class="list-group-item p-1">Легкое лесби шоу</li>{% endif%}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if serv_instance.sado_bandaj or serv_instance.sado_gospoja or serv_instance.sado_rabyn or serv_instance.sado_dominant or serv_instance.sado_porka or serv_instance.sado_fetish or serv_instance.sado_trampling %}
                <div class="col-sm-2 mb-2">
                    <div class="card">
                        <div class="card-header bg-secondary text-white p-2">Садо-маза</div>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush">
                                {% if serv_instance.sado_bandaj %}<li class="list-group-item p-1">Бандаж</li>{% endif%}
                                {% if serv_instance.sado_gospoja %}<li class="list-group-item p-1">Госпожа</li>{% endif%}
                                {% if serv_instance.sado_rabyn %}<li class="list-group-item p-1">Рабыня</li>{% endif%}
                                {% if serv_instance.sado_dominant%}<li class="list-group-item p-1">Лекая доминация</li>{% endif%}
                                {% if serv_instance.sado_porka %}<li class="list-group-item p-1">Порка</li>{% endif%}
                                {% if serv_instance.sado_fetish %}<li class="list-group-item p-1">Фетиш</li>{% endif%}
                                {% if serv_instance.sado_trampling %}<li class="list-group-item p-1">Трамплинг</li>{% endif%}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if serv_instance.extrim_anilingus or serv_instance.extrim_dojd_out or serv_instance.extrim_dojd_in or serv_instance.extrim_strapon or serv_instance.extrim_fisting_anal or serv_instance.extrim_fisting_vagin%}
                <div class="col-sm-2 mb-2">
                    <div class="card">
                        <div class="card-header bg-secondary text-white p-2">Экстрим</div>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush">
                                {% if serv_instance.extrim_anilingus %}<li class="list-group-item p-1">Анилингус</li>{% endif%}
                                {% if serv_instance.extrim_dojd_out %}<li class="list-group-item p-1">Золой дождь выдача</li>{% endif%}
                                {% if serv_instance.extrim_dojd_in %}<li class="list-group-item p-1">Золотой дождь прием</li>{% endif%}
                                {% if serv_instance.extrim_strapon%}<li class="list-group-item p-1">Страпон</li>{% endif%}
                                {% if serv_instance.extrim_fisting_anal %}<li class="list-group-item p-1">Фистинг анальный</li>{% endif%}
                                {% if serv_instance.extrim_fisting_vagin %}<li class="list-group-item p-1">Фистинг вагинальный</li>{% endif%}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
                {#                {% endfor %}#}
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row bg-secondary p-3 justify-content-center">
        {#    <div class=" col-md-5 col-sm-12 col-xs-12 col-lg-5 ">#}
        {##}
        {#    </div>#}
        {#        <div class="col-md-7 ">#}
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
            <div class="comment ">
                <div class="comment-header">
                    <label class="h3 justify-content-between">Отзывы</label><span
                        class="badge badge-primary badge-pill">{{ comment.count }}</span>
                </div>
                <hr>
                <form method="POST" action="">{% csrf_token %}
                    <div class="input-group">
                        {{ comment_form }}
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit"><i class="material-icons mt-1">send</i></button>
                        </div>
                    </div>
                </form>
                <hr>
                {% for comment in comments %}
                    <blockquote class="mt-5 blockquote brd pl-3">
                        <label>{{ comment.content }}</label>
                        <footer class="blockquote-footer mb-3">{{ comment.user }} | {{ comment.timestamp | timesince }}
                            назад |
                            {% if comment.children.count > 0 %}
                                <i class="material-icons pt-2" style="font-size: 14px">mode_comment</i>
                                {{ comment.children.count }}
                                |{% endif %}<a href="#commentReplay{{ comment.id }}" class="link replay-comment-btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="commentReplay{{ comment.id }}"><i class="material-icons mt-1 "  style="font-size: 16px">reply</i> Ответить</a>
                        </footer>
                        <div class="comment-reply collapse ml-3 brd" id="commentReplay{{ comment.id }}" style="">
                            <div class="replaycomment pl-3">
                            {% for chl_comm in comment.children %}
                                <blockquote class="reblockquote">
                                    <label class="">{{ chl_comm.content }}</label>
                                    <footer class="blockquote-footer mb-3">{{ chl_comm.user }}
                                        | {{ chl_comm.timestamp | timesince }} назад
                                    </footer>
                                </blockquote>
                            {% endfor %}
                            <hr>
                            <form method="POST" action="">{% csrf_token %}
                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                <div class="input-group">
                                    {{ comment_form }}
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit"><i class="material-icons mt-1">send</i></button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </blockquote>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    {#    </div>#}
    {#    </div>#}
        </div>
{% endblock %}
