{% block nav %}
    <navbar>
        <nav class="navbar navbar-expand-lg shadow-sm bg-white " data-spy="affix" data-offset-top="197">
            <div class="container">
                <a class="navbar-brand" href="{% url 'Posts:list' %}">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="nav collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="{% url 'Posts:list' %}">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Features</a>
                        <a class="nav-item nav-link" href="#">Pricing</a>
                    </div>
                </div>
                    <div class="nav justify-content-end">
                    {% if  request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'Posts:profile' %}" >Мой профиль</a>
                        <a class="nav-link" href="{% url 'Posts:logout'%}" >Выйти</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'Posts:login' %}">Войти</a>
                        <a class="nav-link" href="{% url 'Posts:register' %}">Регистрация</a>
                    {% endif %}
                    </div>
            </div>

        </nav>
    </navbar>
{% endblock nav %}