{% extends 'base.html' %}
{% block body %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-7 col-xs-12 col-sm">
                <br>
                <div class="bg-light  shadow">
                    <div class="header p-4 "><h1>Новая анкета</h1></div>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-8 col-lg-10 col-xs-6">
                                <div class="form-group form-group-sm p-2">
                                    <label for="{{ form.name.id_for_label }}"
                                           class="inline-group mr-3">{{ form.name.label }} </label>{{ form.name }}
                                    <label for="{{ form.age.id_for_label }}"
                                           class="inline mr-3">{{ form.age.label }} </label>{{ form.age }}
                                    <label for="{{ form.height.id_for_label }}"
                                           class="inline mr-3">{{ form.height.label }} </label>{{ form.height }}
                                    <label for="{{ form.weight.id_for_label }}"
                                           class="inline mr-3">{{ form.weight.label }} </label>{{ form.weight }}
                                    <label for="{{ form.boob.id_for_label }}"
                                           class="inline mr-3">{{ form.boob.label }} </label>{{ form.boob }}
                                    <label for="{{ form.hair.id_for_label }}"
                                           class="inline mr-3">{{ form.hair.label }} </label>{{ form.hair }}
                                    <label for="{{ form.eye.id_for_label }}"
                                           class="inline mr-3">{{ form.eye.label }} </label>{{ form.eye }}
                                    <label for="{{ form.types.id_for_label }}"
                                           class="inline mr-3">{{ form.types.label }} </label>{{ form.types }}
                                    <div class="panel">
                                        <div class="panel-header bg-info mt-3 p-2"><label>Foto</label></div>
                                        <div class="panel-body border p-2">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td>{{ form.image_1 }}</td>
                                                <td><label for="{{ form.image_1.id_for_label }}" class="mr-3">{{ form.image_1.label|truncatechars:10 }}</label></td>
{#                                                <td>{% if instance.image_1 %}<a href="{{ instance.image_1.url}}">{{instance.image_1.url|truncatechars:9 }}</a></td>{% endif %}#}
                                            </tr>
                                            <tr>
                                                <td>{{ form.image_2 }}</td>
                                                <td><label for="{{ form.image_2.id_for_label }}" class="mr-3">{{ form.image_2.label|truncatechars:9 }}</label></td>
{#                                                <td>{% if instance.image_2 %}<a href="{{ instance.image_2.url }}">instance.image_2.url|truncate</a> {% endif %}</td>#}
                                            </tr>
                                            <tr>
                                                <td>{{ form.image_3 }}</td>
                                                <td><label for="{{ form.image_3.id_for_label }}" class="mr-3">{{ form.image_3.label }}</label></td>
{#                                                <td>{% if instance.image_3 %}<a href="{{ instance.image_3.url }}">instance.image_3.url|truncate</a>{% endif %}</td>#}
                                            </tr>
                                            <tr>
                                                <td>{{ form.image_4 }}</td>
                                                <td><label for="{{ form.image_4.id_for_label }}" class="mr-3">{{ form.image_4.label }}</label></td>
{#                                                <td>{% if instance.image_4 %}<a href="{{ instance.image_4.url }}">instance.image_4.url|truncate</a> {% endif %}</td>#}
                                            </tr>
                                            <tr>
                                                <td>{{ form.image_5 }}</td>
                                                <td><label for="{{ form.image_5.id_for_label }}" class="mr-3">{{ form.image_5.label }}</label></td>
                                                <td>{% if instance.image_5 %}<a href="{{ instance.image_5.url }}">instance.image_5.url|truncate</a> {% endif %}</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <input type="submit" value="NEXT" class="btn btn-primary content m-2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}