{% extends 'base.html' %}
{% load cropping %}
{% block link %}
    {{ form.media }}
{% endblock %}
{% block body %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-7 col-xs-12 col-sm">
                <br>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                    {{ message}}
                </div>
                {% endfor %}
            {% endif %}
                <div class="bg-light  shadow">
                    <div class="header p-4 "><h1>Новая анкета</h1></div>

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-sm-8 col-lg-10 col-xs-6">
                                <div class="form-group form-group-sm p-2">
                                    <label for="{{ form.name.id_for_label }}"
                                           class="inline-group mr-3">{{ form.name.label }} </label>{{ form.name }}
                                    <label for="{{ form.phone.id_for_label }}" class="inline mr-3">{{ form.phone.label }} </label>{{ form.phone }}
                                    <label for="{{ form.age.id_for_label }}" class="inline mr-3">{{ form.age.label }} </label>{{ form.age }}
                                    <label for="{{ form.height.id_for_label }}"
                                           class="inline mr-3">{{ form.height.label }} </label>{{ form.height }}
                                    <label for="{{ form.weight.id_for_label }}"
                                           class="inline mr-3">{{ form.weight.label }} </label>{{ form.weight }}
                                    <label for="{{ form.boob.id_for_label }}"
                                           class="inline mr-3">{{ form.boob.label }} </label>{{ form.boob }}
                                    <label for="{{ form.hair.id_for_label }}"
                                           class="inline mr-3">{{ form.hair.label }} </label>{{ form.hair }}
                                    <label for="{{ form.eye.id_for_label }}"
                                           class="inline mr-3">{{ form.eye.label }} </label>{{ form.eye }}
                                    <label for="{{ form.types.id_for_label }}" class="inline mr-3">{{ form.types.label }} </label>{{ form.types }}
                                    <label for="{{ form.note.id_for_label }}" class="inline mr-3">{{ form.note.label }} </label>{{ form.note }}
                                    <div class="panel">
                                        <div class="panel-header bg-info mt-3 p-2 text-white">Фото</div>
                                        <div class="panel-body border p-2 services ">
                                        <table class="small">
                                            <tbody class="">
                                            <tr class="mb-1 border-bottom">
                                                <td class="pb-2">{% cropped_thumbnail form "image_1_cropping" %}</td>
                                            </tr>
                                            <tr class="mb-1 border-bottom">
                                                <td>{{ form.image_2 }}</td>
{#                                                <td>{% if instance.image_2 %}<a href="{{ instance.image_2.url }}">instance.image_2.url|truncate</a> {% endif %}</td>#}
                                            </tr>
                                            <tr class="mb-1 border-bottom">
                                                <td class="p-2">{{ form.image_3 }}</td>
{#                                                <td>{% if instance.image_3 %}<a href="{{ instance.image_3.url }}">instance.image_3.url|truncate</a>{% endif %}</td>#}
                                            </tr>
                                            <tr class="mb-1 border-bottom">
                                                <td class="p-2">{{ form.image_4 }}</td>
{#                                                <td>{% if instance.image_4 %}<a href="{{ instance.image_4.url }}">instance.image_4.url|truncate</a> {% endif %}</td>#}
                                            </tr>
                                            <tr class="mb-1 border-bottom">
                                                <td class="p-2">{{ form.image_5 }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="header  bg-info p-2 text-white">Аппартамент</div>
                                <div class="appart border p-1 mb-2">
                                    <table class="col">
                                        <tbody class="table table-borderless">
                                        <tr class="col-sm">
                                            <td class=""><label for="{{ form.appart_1.id_for_label }}"class="">1-Час</label></td>
                                            <td>{{ form.appart_1 }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="{{ form.appart_2.id_for_label }}" class="mt-2 mb-0">2-Час</label></td>
                                            <td>{{ form.appart_2 }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="{{ form.appart_naigth.id_for_label }}" class="mt-2 mb-0">Ночь</label></td>
                                            <td>{{ form.appart_naigth }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="header border bg-info border p-2 text-white">Выезд</div>
                                <div class="appart border">
                                    <div class="appart  p-1">
                                        <table class="col">
                                            <tbody class="table table-borderless">
                                            <tr>
                                                <td><label for="{{ form.outside_1.id_for_label }}" class="mb-0">1-Час</label></td>
                                                <td>{{ form.outside_1 }}</td>
                                            </tr>
                                            <tr>
                                                <td><label for="{{ form.outside_2.id_for_label }}" class="mt-2 mb-0">2-Час</label></td>
                                                <td>{{ form.outside_2 }}</td>
                                            </tr>
                                            <tr>
                                                <td><label for="{{ form.outside_nigth.id_for_label }}" class="mt-2 mb-0">Ночь</label></td>
                                                <td>{{ form.outside_nigth }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="header border bg-info border p-2 text-white">Сауна</div>
                                <div class="appart border">
                                    <div class="appart  p-1">
                                        <table class="col">
                                            <tbody class="table table-borderless">
                                            <tr>
                                                <td><label for="{{ form.sauna_1.id_for_label }}" class="mb-0">1-Час</label></td>
                                                <td>{{ form.sauna_1 }}</td>
                                            </tr>
                                            <tr>
                                                <td><label for="{{ form.sauna_2.id_for_label }}" class="mt-2 mb-0">2-Час</label></td>
                                                <td>{{ form.sauna_2 }}</td>
                                            </tr>
                                            <tr>
                                                <td><label for="{{ form.sauna_nigth.id_for_label }}" class="mt-2 mb-0">Ночь</label></td>
                                                <td>{{ form.sauna_nigth }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="header bg-info p-2 text-white">Основные услуги</div>
                                <div class="form-check border pt-2 mb-3">{{ sform.content_type }}{{ service_form.object_id }}
                                    {{ sform.main_classic }}<label for="{{ sform.main_classic.id_for_label }}" class="ml-3">{{ sform.main_classic.label }}</label><br>
                                    {{ sform.main_blowJob_w_condom }}<label for="{{ sform.main_blowJob_w_condom.id_for_label }}" class="ml-3">{{ sform.main_blowJob_w_condom.label }}</label><br>
                                    {{ sform.main_cunni }}<label for="{{ sform.main_cunni.id_for_label }}" class="ml-3">{{ sform.main_cunni.label }}</label><br>
                                    {{ sform.main_group_sex }}<label for="{{ sform.main_group_sex.id_for_label }}" class="ml-3">{{ sform.main_group_sex.label }}</label><br>
                                    {{ sform.main_lesbi_lesbi }}<label for="{{ sform.main_lesbi_lesbi.id_for_label }}" class="ml-3">{{ sform.main_lesbi_lesbi.label }}</label><br>
                                    <div class="main-pr pb-2">
                                        <table class="col">
                                            <tbody class="services">
                                            <tr>
                                                <td>{{ sform.mbr }}</td>
                                                <td><label data-toggle="tooltip" data-placement="top" title="{{ sform.mbr.label }}"  for="{{ sform.mbr.id_for_label }}" class="">{{ sform.mbr.label }}</label></td>
{#                                                <td><label for="{{ sform.mbr.id_for_label }}" class=""></label></td>#}
                                                <td>{{ sform.mbr_price }}</td>
                                                <td><p></p></td>
                                            </tr>
                                            <tr>
                                                <td>{{ sform.anal_sex }}</td>
                                                <td><label data-toggle="tooltip" data-placement="top" title="{{ sform.anal_sex.label }}" for="{{ sform.anal_sex.id_for_label }}" class="">{{ sform.anal_sex.label }}</label></td>
                                                <td>{{ sform.anal_sex_price }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="header bg-info p-2 text-white">Дополнительные услуги</div>
                                <div class="form-check mt-0 border mb-2">
                                    {{ sform.dop_end_mouth }}<label for="{{ sform.dop_end_mouth.id_for_label }}" class="ml-3 mt-2">{{ sform.dop_end_mouth.label }}</label><br>
                                    {{ sform.dop_end_face }}<label for="{{ sform.dop_end_face.id_for_label }}" class="ml-3">{{ sform.dop_end_face.label }}</label><br>
                                    {{ sform.dop_glub_minet }}<label for="{{ sform.dop_glub_minet.id_for_label }}" class="ml-3">{{ sform.dop_glub_minet.label }}</label><br>
                                    {{ sform.dop_toys }}<label for="{{ sform.dop_toys.id_for_label }}" class="ml-3">{{ sform.dop_toys.label }}</label><br>
                                    {{ sform.dop_role_game }}<label for="{{ sform.dop_role_game.id_for_label }}" class="ml-3">{{ sform.dop_role_game.label }}</label><br>
                                    {{ sform.dop_couple_service }}<label for="{{ sform.dop_couple_service.id_for_label }}" class="ml-3">{{ sform.dop_couple_service.label }}</label><br>
                                    {{ sform.dop_video }}<label for="{{ sform.dop_video.id_for_label }}" class="ml-3">{{ sform.dop_video.label }}</label><br>
                                    {{ sform.dop_company }}<label for="{{ sform.dop_company.id_for_label }}" class="ml-3">{{ sform.dop_company.label }}</label><br>
                                </div>
                                <div class="header bg-info p-2 text-white">Массаж</div>
                                <div class="form-check mt-0 border mb-2">
                                    {{ sform.massage_relax }}<label for="{{     sform.massage_relax.id_for_label }}" class="ml-3">{{ sform.massage_relax.label }}</label><br>
                                    {{ sform.massage_classic }}<label for="{{   sform.massage_classic.id_for_label }}" class="ml-3">{{ sform.massage_classic.label }}</label><br>
                                    {{ sform.massage_profi }}<label for="{{     sform.massage_profi.id_for_label }}" class="ml-3">{{ sform.massage_profi.label }}</label><br>
                                    {{ sform.massage_tiski }}<label for="{{     sform.massage_tiski.id_for_label }}" class="ml-3">{{ sform.massage_tiski.label }}</label><br>
                                    {{ sform.massage_prostat }}<label for="{{   sform.massage_prostat.id_for_label }}" class="ml-3">{{ sform.massage_prostat.label }}</label><br>
                                    {{ sform.massage_erotic }}<label for="{{    sform.massage_erotic.id_for_label }}" class="ml-3">{{ sform.massage_erotic.label }}</label><br>
                                    {{ sform.massage_sakura }}<label for="{{    sform.massage_sakura.id_for_label }}" class="ml-3">{{ sform.massage_sakura.label }}</label><br>
                                </div>
                                <div class="header bg-info p-2 text-white">Стриптиз</div>
                                <div class="form-check mt-0 border mb-2">
                                    {{ sform.dance_profi }}<label for="{{        sform.dance_profi.id_for_label }}" class="ml-3">{{       sform.dance_profi.label }}</label><br>
                                    {{ sform.dance_NoProfi }}<label for="{{      sform.dance_NoProfi.id_for_label }}" class="ml-3">{{     sform.dance_NoProfi.label }}</label><br>
                                    {{ sform.dance_lesbi_show }}<label for="{{   sform.dance_lesbi_show.id_for_label }}" class="ml-3">{{  sform.dance_lesbi_show.label }}</label><br>
                                    {{ sform.dance_lisbi }}<label for="{{        sform.dance_lisbi.id_for_label }}" class="ml-3">{{     sform.dance_lisbi.label }}</label><br>
                                </div>
                                <div class="header bg-info p-2 text-white">Садо-Мазо</div>
                                <div class="form-check mt-0 border mb-2">
                                    {{ sform.sado_bandaj }}<label for="{{    sform.sado_bandaj.id_for_label }}" class="ml-3">{{       sform.sado_bandaj.label }}</label><br>
                                    {{ sform.sado_gospoja }}<label for="{{   sform.sado_gospoja.id_for_label }}" class="ml-3">{{      sform.sado_gospoja.label }}</label><br>
                                    {{ sform.sado_rabyn }}<label for="{{     sform.sado_rabyn.id_for_label }}" class="ml-3">{{        sform.sado_rabyn.label }}</label><br>
                                    {{ sform.sado_dominant }}<label for="{{  sform.sado_dominant.id_for_label }}" class="ml-3">{{     sform.sado_dominant.label }}</label><br>
                                    {{ sform.sado_porka }}<label for="{{     sform.sado_porka.id_for_label }}" class="ml-3">{{        sform.sado_porka.label }}</label><br>
                                    {{ sform.sado_fetish }}<label for="{{    sform.sado_fetish.id_for_label }}" class="ml-3">{{       sform.sado_fetish.label }}</label><br>
                                    {{ sform.sado_trampling }}<label for="{{ sform.sado_trampling.id_for_label }}" class="ml-3">{{    sform.sado_trampling.label }}</label><br>
                                </div>
                                <div class="header bg-info p-2 text-white">Экстрим</div>
                                <div class="form-check mt-0 border mb-2">
                                    {{ sform.extrim_anilingus }}<label for="{{       sform.extrim_anilingus.id_for_label }}" class="ml-3">{{      sform.extrim_anilingus.label }}</label><br>
                                    {{ sform.extrim_dojd_out }}<label for="{{        sform.extrim_dojd_out.id_for_label }}" class="ml-3">{{       sform.extrim_dojd_out.label }}</label><br>
                                    {{ sform.extrim_dojd_in }}<label for="{{         sform.extrim_dojd_in.id_for_label }}" class="ml-3">{{        sform.extrim_dojd_in.label }}</label><br>
                                    {{ sform.extrim_strapon }}<label for="{{         sform.extrim_strapon.id_for_label }}" class="ml-3">{{        sform.extrim_strapon.label }}</label><br>
                                    {{ sform.extrim_fisting_anal }}<label for="{{    sform.extrim_fisting_anal.id_for_label }}" class="ml-3">{{   sform.extrim_fisting_anal.label }}</label><br>
                                    {{ sform.extrim_fisting_vagin }}<label for="{{   sform.extrim_fisting_vagin.id_for_label }}" class="ml-3">{{  sform.extrim_fisting_vagin.label }}</label><br>
                                </div>

                                <hr>
                                <input type="submit" value="Создать анкету" class="btn btn-primary float-right mb-3 mr-2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}