{% extends 'base.html' %}
{% load static %}
{% load cust_tamplate %}
{% block body %}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 mt-5">
            <div class="profile bg-light p-5">
                <h1>Профиль пользователя</h1>
                <hr>
                <label>Имя пользователя: </label> {{ user.username }}<br>
                <label>E-mail: </label> {{ user.email }}<br>
                <label>Дата регистрации: </label> {{ user.date_joined }}<br>
                <hr>
                {#                <a href="{% url 'posts:update' %}" class="float-right">Изменить</a><br>#}
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-9 mt-5">
            {% if posts.count > 0 %}
                <div class="profile bg-light p-2">
                    <h1>Ваши анкеты</h1>
                    <a href="{% url 'Posts:create' %}" class="btn btn-outline-primary">Добавить анкету</a>
{#                    <hr>#}
                    <div class="">
                        <table class="col justify-content-xl-center ">
                            <thead class="text-center">
                            <tr >
                                <th scope="col">Анкеты №</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Активный</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Событие</th>
                            </tr>
                            </thead>
                            <tbody class="text-center">
                            {% for post in posts %}
                                <tr class="text-center">
                                    <td scope="row"><a href="{% url 'Posts:detail' id=post.id%}" class="">{{ post.id }}</a></td>
                                    <td>{{ post.name }}</td>
                                    <td>{% if post.end_date %}{{ post.end_date|count_day}} {% else %} 0 {% endif %}</td>
                                    <td>{% if post.user_active %}<a href="{% if not post.admin_active %}#{% else %}{% url 'Posts:active_state' id=post.id%}{% endif %}" class="{% if not post.admin_active %}disabled {% endif %}">{% if not post.admin_active %}Включить{% else %}Отключить{% endif %} </a>{% else %}<a href="{% if not post.admin_active %}#{% else %}{% url 'Posts:active_state' id=post.id%}{% endif %}" class="{% if not post.admin_active %}disabled {% endif %}">{% if not post.admin_active %}Включить{% else %}Включить{% endif %} </a>{% endif %}
                                    <td><a href="{% url 'Posts:edit' id=post.id%}" class="">Изменить</a><span> </span><a href="" class="">Удалить</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="profile bg-light p-5">
                    <p>У Вас нету анкет</p>
                    <a href="{% url 'Posts:create' %}" class="btn btn-outline-primary">Добавить анкету</a>
                </div>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}