{% block services %}

    <nav>
        <div class="accordion " id="nav-service-tab" role="tablist">
            {% if serv_instance.main_classic or serv_instance.main_blowJob_w_condom or serv_instance.main_cunni or serv_instance.main_group_sex or serv_instance.main_lesbi_lesbi %}
                <a class="btn btn-outline-info p-1" id="nav-main-tab" data-toggle="collapse" href="#nav-main" role="tab"
                   aria-controls="nav-main" aria-expanded="true" >Основные услуги</a>
            {% endif %}
            {% if serv_instance.dop_end_mouth or serv_instance.dop_end_face or serv_instance.dop_glub_minet or serv_instance.dop_toys or serv_instance.dop_role_game or serv_instance.dop_couple_service or serv_instance.dop_video or serv_instance.dop_company %}
                <a class="btn btn-outline-info p-1" id="nav-dop_service-tab" data-toggle="collapse" href="#nav-dop_service" role="tab"
                   aria-controls="nav-dop_service" aria-expanded="false">Допол. услуги</a>
            {% endif %}
        {% if serv_instance.massage_relax or serv_instance.massage_classic or serv_instance.massage_profi or serv_instance.massage_tiski or serv_instance.massage_prostat or serv_instance.massage_erotic or serv_instance.massage_sakura %}
                <a class="btn btn-outline-info p-1" id="nav-massag-tab" data-toggle="collapse" href="#nav-massag" role="tab"
                   aria-controls="nav-massag" aria-expanded="false">Массаж</a>
        {% endif %}
        {% if serv_instance.dance_profi or serv_instance.dance_NoProfi or serv_instance.dance_lesbi_show or serv_instance.dance_lisbi  %}
                        <a class="btn btn-outline-info p-1" id="nav-dance-tab" data-toggle="collapse" href="#nav-dance" role="tab"
                   aria-controls="nav-dance" aria-expanded="false">Стритиз</a>
        {% endif %}
        {% if serv_instance.sado_bandaj or serv_instance.sado_gospoja or serv_instance.sado_rabyn or serv_instance.sado_dominant or serv_instance.sado_porka or serv_instance.sado_fetish or serv_instance.sado_trampling %}
         <a class="btn btn-outline-info p-1" id="nav-sado-tab" data-toggle="collapse" href="#nav-sado" role="tab"
                   aria-controls="nav-sado" aria-expanded="false">Садо-маза</a>
        {% endif %}
        {% if serv_instance.extrim_anilingus or serv_instance.extrim_dojd_out or serv_instance.extrim_dojd_in or serv_instance.extrim_strapon or serv_instance.extrim_fisting_anal or serv_instance.extrim_fisting_vagin%}
         <a class="btn btn-outline-info p-1" id="nav-extrim-tab" data-toggle="collapse" href="#nav-extrim" role="tab"
                   aria-controls="nav-extrim" aria-expanded="false">Экстрим</a>
        {% endif %}
        </div>
    </nav>
    <div class="row mt-4" id="nav-tabContent">
        {% if serv_instance.main_classic or serv_instance.main_blowJob_w_condom or serv_instance.main_cunni or serv_instance.main_group_sex or serv_instance.main_lesbi_lesbi %}
         <div class="collapse show" data-parent="nav-service-tab" id="nav-main"  role="tabpanel" aria-labelledby="nav-main-tab">
            <strong></strong>
            <ul class="service-item">
                {% if serv_instance.main_classic %}
                    <li>Классический</li>{% endif %}
                {% if serv_instance.main_blowJob_w_condom %}
                    <li>Минет с презирвативом</li>{% endif %}
                {% if serv_instance.main_cunni %}
                    <li>Кунилингус</li>{% endif %}
                {% if serv_instance.main_group_sex %}
                    <li>Группавой секс</li>{% endif %}
                {% if serv_instance.main_lesbi_lesbi %}
                    <li>Лезбийский секс</li>{% endif %}
                {% if serv_instance.mbr %}
                    <li>Минет без презер-ва<span class="text-danger"> + {{ serv_instance.mbr_price }}</span>
                    </li>{% endif %}
                {% if serv_instance.anal_sex %}
                    <li>Анальный секс<span class="text-danger"> + {{ serv_instance.anal_sex_price }}</span>
                    </li>{% endif %}
            </ul>
         </div>
        {% endif %}

        {% if serv_instance.dop_end_mouth or serv_instance.dop_end_face or serv_instance.dop_glub_minet or serv_instance.dop_toys or serv_instance.dop_role_game or serv_instance.dop_couple_service or serv_instance.dop_video or serv_instance.dop_company %}
            <div class="collapse " data-parent="nav-service-tab" id="nav-dop_service" role="tabpanel" aria-labelledby="nav-dop_service-tab">
                <ul class="">
                    {% if serv_instance.dop_end_mouth %}
                        <li class="">Кончить в рот</li>{% endif %}
                    {% if serv_instance.dop_end_face %}
                        <li class="">Кончить на лицо</li>{% endif %}
                    {% if serv_instance.dop_glub_minet %}
                        <li class="">Глубокий минет</li>{% endif %}
                    {% if serv_instance.dop_toys %}
                        <li class="">Игрушки</li>{% endif %}
                    {% if serv_instance.dop_role_game %}
                        <li class="">Ролевые игры</li>{% endif %}
                    {% if serv_instance.dop_couple_service %}
                        <li class="">Услиги супружиским парам</li>{% endif %}
                    {% if serv_instance.dop_video %}
                        <li class="">Фото/Видео съемки</li>{% endif %}
                    {% if serv_instance.dop_company %}
                        <li class="">Сопровождение</li>{% endif %}
                </ul>
            </div>
        {% endif %}
    {% if serv_instance.massage_relax or serv_instance.massage_classic or serv_instance.massage_profi or serv_instance.massage_tiski or serv_instance.massage_prostat or serv_instance.massage_erotic or serv_instance.massage_sakura %}
        <div class="collapse " data-parent="nav-service-tab" id="nav-massag" role="tabpanel" aria-labelledby="nav-massag-tab">
            <ul class="">
                {% if serv_instance.massage_relax %}<li >Раслобляющий массаж</li>{% endif%}
                {% if serv_instance.massage_classic %}<li >Классический массаж</li>{% endif%}
                {% if serv_instance.massage_profi %}<li >Проффесиональный массаж</li>{% endif%}
                {% if serv_instance.massage_tiski%}<li >Тайский массаж</li>{% endif%}
                {% if serv_instance.massage_prostat %}<li >Массаж простаты</li>{% endif%}
                {% if serv_instance.massage_erotic %}<li >Эротический массаж</li>{% endif%}
                {% if serv_instance.massage_sakura %}<li>Ветка сакуры</li>{% endif%}
            </ul>
        </div>
    {% endif %}
    {% if serv_instance.dance_profi or serv_instance.dance_NoProfi or serv_instance.dance_lesbi_show or serv_instance.dance_lisbi  %}
        <div class="collapse " data-parent="nav-service-tab" id="nav-dance" role="tabpanel" aria-labelledby="nav-dance-tab">
            <ul >
                {% if serv_instance.dance_profi %}<li class="">Стритиз профф.</li>{% endif%}
                {% if serv_instance.dance_NoProfi %}<li class="">Стриптиз не профи</li>{% endif%}
                {% if serv_instance.dance_lesbi_show%}<li class="">Откровенное лесби-шоу</li>{% endif%}
                {% if serv_instance.dance_lisbi %}<li class="">Легкое лесби шоу</li>{% endif%}
            </ul>
        </div>
    {% endif %}
    {% if serv_instance.massage_relax or serv_instance.massage_classic or serv_instance.massage_profi or serv_instance.massage_tiski or serv_instance.massage_prostat or serv_instance.massage_erotic or serv_instance.massage_sakura %}
       <div  class="collapse " data-parent="nav-service-tab" id="nav-sado" role="tabpanel" aria-labelledby="nav-sado-tab">
            <ul class="">
                {% if serv_instance.sado_bandaj %}<li class="">Бандаж</li>{% endif%}
                {% if serv_instance.sado_gospoja %}<li class="">Госпожа</li>{% endif%}
                {% if serv_instance.sado_rabyn %}<li class="">Рабыня</li>{% endif%}
                {% if serv_instance.sado_dominant%}<li class="">Лекая доминация</li>{% endif%}
                {% if serv_instance.sado_porka %}<li class="">Порка</li>{% endif%}
                {% if serv_instance.sado_fetish %}<li class="">Фетиш</li>{% endif%}
                {% if serv_instance.sado_trampling %}<li class="">Трамплинг</li>{% endif%}
            </ul>
        </div>
    {% endif %}
    {% if serv_instance.extrim_anilingus or serv_instance.extrim_dojd_out or serv_instance.extrim_dojd_in or serv_instance.extrim_strapon or serv_instance.extrim_fisting_anal or serv_instance.extrim_fisting_vagin%}
        <div class="collapse " data-parent="nav-service-tab" id="nav-extrim" role="tabpanel" aria-labelledby="nav-extrim-tab">
            <ul class="">
                {% if serv_instance.extrim_anilingus %}<li class="">Анилингус</li>{% endif%}
                {% if serv_instance.extrim_dojd_out %}<li class="">Золой дождь выдача</li>{% endif%}
                {% if serv_instance.extrim_dojd_in %}<li class="">Золотой дождь прием</li>{% endif%}
                {% if serv_instance.extrim_strapon%}<li class="">Страпон</li>{% endif%}
                {% if serv_instance.extrim_fisting_anal %}<li class="">Фистинг анальный</li>{% endif%}
                {% if serv_instance.extrim_fisting_vagin %}<li class="">Фистинг вагинальный</li>{% endif%}
            </ul>
        </div>
    {% endif %}
    </div>



{% endblock %}
{% block js %}

{% endblock %}