html.js .loaders {
    background: none repeat scroll 0 0 #000;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
html.js .loader_inners {
    background-size: cover;
    background: #000 url("../../media/loader/preloader.gif") no-repeat center center;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}
.html{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Nunito', sans-serif !important;
    background: url("../../media/bg.jpg") no-repeat center center fixed #000;}

.post_panel{
    /*height: 150px ;*/
    margin-bottom: 20px;
}
.panel{
    border: 0px;
}
.nav-primary{
    background-color: #375a7f !important;
}
.default-bg-color{
    background-color: #ffffff;
}
.thumbnail{
    height: 450px;
}
.thumbnail .main-img-box{
    height: 300px;
    max-width: 100%;

}
.main-img-box>img{
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
}
.thumbnail .carousel-item>img{
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    /*margin: 15%;*/
    /*object-fit: scale-down;*/
    /*float: inherit;*/
}
.dialog{
    height: 100% !important;
}
/*---------------------------------------------------------------------------------------------*/

.nav-item:hover{
    color: #00ccff !important;
}
.list-group a:hover{
    color: #00ccff !important;
}
.profile-photoConteiner{
	padding: 5px;
}
.image-box .carousel-item{
	height: 300px !important;
}
.image-box .carousel-inner>.carousel-item{
	max-height: 260px !important;
}
.quick-image .carousel-inner{
    max-height: 500px !important;
    min-height: 400px !important;
    text-align: center;
}
.quick-image .carousel-inner img{
    vertical-align: middle;
}
.thumbnails{
	position: relative;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 5px;
	width: 200px;
	height: 80px;
	list-style: none;
	float: left;
}
.thumbnails img{
	width: 100%;
	height: 100%;
	/*float: left;*/

}
.comment-header {
	width:100%;
	height:100%;
}
.comment-header .badge{
	margin-top:-6px;
	margin-left: 20px;
	font-size: 16px;
	background-color: #007bff;
}
.comment{
	background-color: #fff;
	padding: 30px;
}
.hover-border:hover{
    border: 0.1px solid #b2b2bd;
}
.carousel-indicators li{
    bottom: 30px;
}

#sm-sort{
    list-style: none;
}
.carousel-indicators .active{
    width: 30px;
}
.price-list .price-table{
    font-size: 12px;
}
.modal-header .close {
	padding: .5rem;
}
.single-quick-image{
    margin-bottom: 20px;
    padding: 10px;
    background-color: #e7e7e7;
}
.carousel-indicator{
    justify-content: center;
    list-style: none;
    height: 100%;
}
.carousel-indicator li{
    margin-left: 10px;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    background: #e7e7e7;
}
.nav-link{
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.service-item{
    margin-top: 5px;
    margin-right: 10px;
    list-style: outside;
}
.carousel-indicator img{
    padding: 10px;
    height: 100px;
    width: 70px;
}

.brd{
    border-left: 2px solid #005cbf !important;
}
.top-vip{
    background: #00ff6e none repeat scroll 0 0;
}
.vip{
    background: #ff0056 none repeat scroll 0 0;
}
.standart{
    background: #005eff none repeat scroll 0 0;
    color: #000;
}
.status{
    color: #fdf2ff;
    font-size: 18px;
    font-weight: 500;
    /*left: -24px;*/
    margin: 0;
    padding: 3px 10px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    top: 210px;
    /*transform: rotate(-45deg);*/
    z-index: 99;
}
.black-border{
    border: 1px solid #8a8a8a;
}
.amount{
    margin-top: -40px;
}
.bottom-footer{
    margin-top: 50px;
    width: 100%;
    height: 100px;
    opacity: .5;
}
.footer-color{
    height: 100%;
    width: 100%;
}
.por-dse div ul{
    padding-left: 15px;
    margin-bottom: 0px;
}
.views nav{
    float: right;
}
.views{
    background-color: #7777;
    height: 100px;
}

.quick-right-text .phone i {
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    color: #000
}

.quick-right-text .phone i:hover{
    transform: rotate(-95deg);
    transition-delay: .25s;
    transition-timing-function: ease-out;
}

.phone{
    /*background-color: #14dbef;*/
    margin: 20px 0;
}
.phone a{
    font-size: 22px;
}
.quick-right-text .phone a:hover{
    text-decoration: none;
    transform: scale(5);

}
.overflow{
    position: absolute;
    /*background-color: #000;*/
    /*opacity:  0.5;*/
    /*z-index: 999;*/
    width: 100%;
    height:100%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.overflow p{
    text-align: center;
    margin-top: 100px;
    vertical-align: middle;
    color: #fff;
    font-size: 24px;

}
.overflow:hover{
    -webkit-transform: scale(.11);
    -moz-transform: scale( 1.1);
    -ms-transform: scale( 1.1);
    -o-transform: scale( 1.1);
    transform: scale( 1.1);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    background-color: #000;
    opacity:  0.5;
    z-index: 999;
}
.custom-file-label::after {
    content: 'Выбрать' !important;
}
.new-form{
    font-size: 30px;
    font-weight: 500;
    left: 9px;
    margin: 0;
    padding: 3px 10px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    top: 10px;
    transform: rotate(-15deg);
    z-index: 99;
    background: #3499ff none repeat scroll 0 0;
    color: #ffffff;
    border-radius: 50%;

    font-family: 'Dancing Script', cursive;
}
.new-form span{
    overflow: hidden;
}